/* CSS Variables */
:root {
  --color-primary: #076988;
  --color-black: #17181D;

  --color-success: #4BB543;
  --color-warning: #FFC107;
  --color-error: #F04438;
  --color-info: #067BFF;

  --color-primary-shade-50: #E9FFFF;
  --color-primary-shade-100: #C8FFFF;
  --color-primary-shade-200: #98FDFF;
  --color-primary-shade-300: #51F9FF;
  --color-primary-shade-400: #04E9FF;
  --color-primary-shade-500: #00CCF3;
  --color-primary-shade-600: #00A0CB;
  --color-primary-shade-700: #007FA3;
  --color-primary-shade-800: #076988;
  --color-primary-shade-900: #0B536E;
  --color-primary-shade-950: #00374D;


  --color-gray-50: #F6F7F9;
  --color-gray-100: #EDEEF1;
  --color-gray-200: #D7DAE0;
  --color-gray-300: #B3BAC6;
  --color-gray-400: #8A94A6;
  --color-gray-500: #687387;
  --color-gray-600: #565F73;
  --color-gray-700: #464D5E;
  --color-gray-800: #3D434F;
  --color-gray-900: #363A44;
  --color-gray-950: #24262D;

}



html {
  scroll-behavior: smooth;
}


/* Base font setup */
body {
  font-family: 'Lexend Deca';
}


.menu_link {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.menu_link_active {
  color: var(--primary2-600, #1469B5);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}


/* sidebar code  */
.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
}


/* scrollbar section  */

.scrollbar_hide {
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */
  scrollbar-width: none;
  /* for Firefox */
  -webkit-overflow-scrolling: touch;
}


.scrollbar_hide::-webkit-scrollbar {
  display: none;
}


.scrollbar_style::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

/* Track */
.scrollbar_style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 10px;
}

/* Handle */
.scrollbar_style::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
  border-radius: 90px;

}

.scrollbar_style::-webkit-scrollbar-corner {}

/* Handle on hover */
.scrollbar_style::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187)
}


/* progress bar  */
.progress_completed {
  -webkit-appearance: none;
}


.progress_completed::-webkit-progress-inner-element {
  overflow: hidden;
  border-radius: 10px;
}

::-webkit-progress-bar {
  background-color: var(--color-gray-100);
}

.progress_completed::-webkit-progress-value {
  background-color: var(--color-success);
}

/* pending */
.progress_pending {
  -webkit-appearance: none;
}


.progress_pending::-webkit-progress-inner-element {
  overflow: hidden;
  border-radius: 10px;
}


.progress_pending::-webkit-progress-value {
  background-color: var(--color-warning);
}


/* in processing */
.progress_processing {
  -webkit-appearance: none;
}


.progress_processing::-webkit-progress-inner-element {
  overflow: hidden;
  border-radius: 10px;
}


.progress_processing::-webkit-progress-value {
  background-color: var(--color-info);
}



/* error */
.progress_incomplete {
  -webkit-appearance: none;
}


.progress_incomplete::-webkit-progress-inner-element {
  overflow: hidden;
  border-radius: 10px;
}


.progress_incomplete::-webkit-progress-value {
  background-color: var(--color-error);
}





/* glass */
.glassmorphism {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
}






/* input box */
.text_input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.text_input>p {
  color: var(--color-black);
  font-size: clamp(14px, 2vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

}

.required:after {
  content: "*";
  color: var(--color-error);
}


.text_input>input {
  height: 48px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-100, #EDEEF1);
  background: var(--Gray-50, #F6F7F9);
}

.text_input>input::placeholder {
  color: var(--color-gray-500, #687387);

  font-family: Poppins;
  font-size: clamp(14px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text_input>textarea {

  border-radius: 8px;
  border: 1px solid var(--Gray-100, #EDEEF1);
  padding: 16px;
  background: var(--Gray-50, #F6F7F9);
}

.text_input>textarea::placeholder {
  color: var(--color-gray-500, #687387);

  font-family: Poppins;
  font-size: clamp(14px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


.text_input>div {
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-100, #EDEEF1);
  background: var(--color-gray-50, #F6F7F9);
  appearance: none;
  position: relative;
}

.text_input>div>select {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  font-size: clamp(14px, 2vw, 18px);
  background: none;
  appearance: none;
  color: var(--color-gray-500)
}


.text_input>div>img {
  position: absolute;
  top: 50%;
  right: 16px;
  height: 8px;
  transform: translateY(-50%);
}


.text_input_2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.text_input_2>p {
  color: #FFF;

  font-size: clamp(14px, 2vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.text_input_2>input {
  height: clamp(48px, 5vw, 56px);
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--color-primary, #1469B5);
  color: white;
  background-color: transparent;
}

.text_input_2>input:focus {
  border-color: var(--color-error);
  /* Change border on focus */
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.2);
  /* Optional soft focus glow */
}

.text_input_2>input::placeholder {
  color: rgba(255, 255, 255, 0.60);
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text_input_2>img {
  position: absolute;
  bottom: 18%;
  right: 16px;
  width: 24px;
  height: 24px;

}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"] {
  background-image: url("https://cdn-icons-png.flaticon.com/512/109/109613.png");
  /* Replace with your icon path */
  background-repeat: no-repeat;
  background-position: left center;
  /* Adjust 'left' to 'right' or other positions */
  background-size: contain;
  /* Or specify a size like 20px */
  padding-left: 10px;
  /* Adjust padding to make space for the icon if positioned on the left */
  /* Or padding-right if positioned on the right */
}


/* select box */
.select_box{
  appearance: none;
  position: relative;
}

.select_box::after{
  content: "⌄";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: black
}


/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  /* No background color */
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
  /* Inner shadow */
  border-radius: 34px;
  /* optional, for rounded switch look */
  transition: 0.4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  /* makes it round if you’re using a switch */
  transition: 0.4s;

  /* Outer shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


input:checked+.slider {
  background-color: var(--color-primary);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/* scrollbar section  */

.scrollbar_hide {
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */
  scrollbar-width: none;
  /* for Firefox */
  -webkit-overflow-scrolling: touch;
}


.scrollbar_hide::-webkit-scrollbar {
  display: none;
}


.scrollbar_style::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

/* Track */
.scrollbar_style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 10px;
}

/* Handle */
.scrollbar_style::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
  border-radius: 90px;

}

.scrollbar_style::-webkit-scrollbar-corner {}

/* Handle on hover */
.scrollbar_style::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187)
}



/* buttons */
.btn_primary {
  border-radius: 4px;
  background: var(--color-primary, #076988);
  height: 48px;
  min-width: 188px;
  padding: 0 12px;
  font-size: clamp(14px, 2vw, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: white;
}


.btn_secondary {
  border-radius: 4px;
  background: var(--color-gray-100, #EDEEF1);
  height: 48px;
  min-width: 188px;
  padding: 0 12px;
  font-size: clamp(14px, 2vw, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: black;
}


.btn_primary_lg {

  height: 56px;
  width: 100%;
  padding: 16px;

  border-radius: 8px;
  background: var(--color-primary, #1469B5);
  color: white;

  font-size: clamp(14px, 2vw, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.btn_sm {
  background-color: var(--color-primary, #076988);
  padding: 12px;
  border-radius: 4px;
  color: white;
  font-size: clamp(12px, 2vw, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border: 1px solid var(--color-primary, #076988);
  transition: all 0.3s ease-in-out;
}

/* small buttons */
.btn_sm:hover {
  background-color: #fff;
  color: var(--color-primary, #076988);
}


/* modal base */
.modal_container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* when visible */
.modal_container.active {
  opacity: 1;
  pointer-events: auto;
}

/* backdrop */
.modal_backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal_container.active .modal_backdrop {
  opacity: 1;
}

/* content */
.modal_content {
  background-color: white;
  padding: 24px;
  border-radius: 1rem;
  z-index: 10;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal_container.active .modal_content {
  transform: scale(1);
  opacity: 1;
}


/* pagination */
.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pagination_container>button {
  background-color: var(--color-gray-100, #EDEEF1);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--color-primary, #076988);
  border-radius: 4px;
}


.pagination_container>.selected {
  background-color: var(--color-primary, #076988);
  color: white;
}


/* sections */
/* .common_section {
  background-color: #fff;
  border-radius: 0.5rem;
}

.common_section>.section_header {
  padding: 16px;
  border-bottom: 1px solid var(--color-gray-100, #EDEEF1);
}

.common_section>.section_header >div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.common_section>.section_header>p {
  color: var(--color-black, #17181D);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.common_section>.section_header>.button_section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
}

@media (max-width: 600px) {
  .common_section>.section_header {
    flex-direction: row; */
/* Change to row for viewports 600px or smaller */
/* }
}

@media (max-width: 768px) {
  .common_section>.section_header>.button_section {
    justify-content: end;
  }
} */



/* panels */
.panel_container {
  position: fixed;
  right: 0;
  width: 16rem; 
  height: 100%; 
  background-color: white;
  z-index: 50; 
  transition: all 0.3s;
  transform: translateX(100%); 
    /* transform: translateX(0); */
}

.panel_container.active {
  transform: translateX(0);
}